node_modules/

# env files
infra/.env
.env
.env.*
**/.env
**/.env.*
# env & secrets
*.env
infra/.env
backend/.env

# builds
**/dist/
**/node_modules/

# misc
*.log
.DS_Store
infra/*.csv
*.bak
pnpm-lock.yaml
backend/pnpm-lock.yaml
backend/pnpm-workspace.yaml
